@model MVC.Models.Revistas.RevistaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RevistaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tema" class="control-label"></label>
                <input asp-for="Tema" class="form-control" />
                <span asp-validation-for="Tema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioSugerido" class="control-label"></label>
                <input asp-for="PrecioSugerido" class="form-control" />
                <span asp-validation-for="PrecioSugerido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantPaginas" class="control-label"></label>
                <input asp-for="CantPaginas" class="form-control" />
                <span asp-validation-for="CantPaginas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPublicacion" class="control-label"></label>
                <input asp-for="FechaPublicacion" class="form-control" />
                <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenPortada" class="control-label"></label>
                <input asp-for="ImagenPortada" class="form-control" />
                <span asp-validation-for="ImagenPortada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockMinimo" class="control-label"></label>
                <input asp-for="StockMinimo" class="form-control" />
                <span asp-validation-for="StockMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anio" class="control-label"></label>
                <input asp-for="Anio" class="form-control" />
                <span asp-validation-for="Anio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contenido" class="control-label"></label>
                <input asp-for="Contenido" class="form-control" />
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>@ViewBag.Message</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



